version: '3'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - ./config/database_docker.yml:/app/config/database.yml
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    environment:
      RAILS_ENV: development
    stdin_open: true
    tty: true

  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
  redis:
    image: redis
    ports:
      - "6379:6379"
      
  sidekiq:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    command: bundle exec sidekiq
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
    environment:
      RAILS_ENV: "development"
      REDIS_URL: "redis://redis:6379/12"
    entrypoint: ./bin/docker-dev-sidekiq-entrypoint.sh