---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e7-TgjzhJXXEmChQkiGjhtQS+CNuMA"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2023-02-03T19:36:57.819Z","baseFee":81.473195209315,"lastBlock":38873026,"avgTime":2.336683417085427,"avgTx":69.845,"avgGas":220035.93169759333,"speeds":[{"acceptance":0.35,"gasPrice":106.383601619,"estimatedFee":0.027855775730502897},{"acceptance":0.6,"gasPrice":114.786414869,"estimatedFee":0.030055991532893008},{"acceptance":0.9,"gasPrice":134.236695187,"estimatedFee":0.035148906589238096},{"acceptance":1,"gasPrice":147.496250744,"estimatedFee":0.03862082519568589}]}'
  recorded_at: Fri, 03 Feb 2023 19:36:57 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993\"
        integrity=\"sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==\"
        data-cf-beacon='{\"rayId\":\"793d9e526be00134\",\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"version\":\"2022.11.3\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 03 Feb 2023 19:36:57 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"ef-7RRjwodH8xDEqumtOqXedCBZ/lM"
    body:
      encoding: UTF-8
      string: '{"USDBRL":{"code":"USD","codein":"BRL","name":"Dólar Americano/Real
        Brasileiro","high":"5.141","low":"5.0509","varBid":"0.0882","pctChange":"1.75","bid":"5.138","ask":"5.1392","timestamp":"1675452996","create_date":"2023-02-03
        16:36:36"}}'
  recorded_at: Fri, 03 Feb 2023 19:36:58 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993\"
        integrity=\"sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==\"
        data-cf-beacon='{\"rayId\":\"793d9e534f0f4b2f\",\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"version\":\"2022.11.3\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 03 Feb 2023 19:36:58 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f1-nZaoGZGI26Nkj4vDtyRhJcwYZB8"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.198","low":"0.195","varBid":"-0.0029","pctChange":"-1.46","bid":"0.1951","ask":"0.1951","timestamp":"1675442197","create_date":"2023-02-03
        13:36:37"}}'
  recorded_at: Fri, 03 Feb 2023 19:36:58 GMT
recorded_with: VCR 6.1.0
