---
http_interactions:
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/USD-BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/USD-BRL
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 27 May 2022 13:36:17 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/USD-BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3-ip9i0+8UnvwA85EU4obiiTOuhbE"
    body:
      encoding: UTF-8
      string: '{"USDBRL":{"code":"USD","codein":"BRL","name":"Dólar Americano/Real
        Brasileiro","high":"4.8434","low":"4.7603","varBid":"-0.0644","pctChange":"-1.34","bid":"4.7624","ask":"4.7637","timestamp":"1653589680","create_date":"2022-05-26
        15:28:00"}}'
  recorded_at: Fri, 27 May 2022 13:36:18 GMT
recorded_with: VCR 6.1.0
