---
http_interactions:
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 13 Jul 2022 13:54:50 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f1-ZQrTtdKUybgcHJcthHkqO2d5I7I"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.1846","low":"0.1839","varBid":"0.0004","pctChange":"0.24","bid":"0.1843","ask":"0.1843","timestamp":"1657714149","create_date":"2022-07-13
        09:09:09"}}'
  recorded_at: Wed, 13 Jul 2022 13:54:51 GMT
recorded_with: VCR 6.1.0
