---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d9-o+VXHVkmoFQO3jyRuyYr0NddR80"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-05-31T10:55:12.471Z","lastBlock":28989516,"avgTime":2.080402010050251,"avgTx":91.215,"avgGas":204468.64608262715,"speeds":[{"acceptance":0.35,"gasPrice":32.653600001,"estimatedFee":0.4466349929915595},{"acceptance":0.6,"gasPrice":35.324012788,"estimatedFee":0.4831608215792127},{"acceptance":0.9,"gasPrice":38.5,"estimatedFee":0.5266018824769225},{"acceptance":1,"gasPrice":200,"estimatedFee":0.7355941946853122}],"baseFee":1.8239583333333348e-8}'
  recorded_at: Tue, 31 May 2022 10:55:12 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 31 May 2022 10:55:13 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1-J54l07zlHTkN5MmJnsx+z8HgVKk"
    body:
      encoding: UTF-8
      string: '{"USDBRL":{"code":"USD","codein":"BRL","name":"Dólar Americano/Real
        Brasileiro","high":"4.7541","low":"4.7538","varBid":"0.0013","pctChange":"0.03","bid":"4.7535","ask":"4.7542","timestamp":"1653945748","create_date":"2022-05-30
        18:22:28"}}'
  recorded_at: Tue, 31 May 2022 10:55:14 GMT
recorded_with: VCR 6.1.0
