---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"personalizations":[{"to":[{"email":"user118@example.com"}],"dynamic_template_data":{"impact":"10
        1 day of water for 1 donor"}}],"categories":["donation"],"from":{"email":"ana@ribon.io","name":"Ana
        da Ribon"},"template_id":"d-330058554c72412ba35227a6f51d9bf0"}'
    headers:
      Authorization:
      - Bearer sendgrid_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"The provided authorization grant is invalid,
        expired, or revoked","field":null,"help":null}]}'
  recorded_at: Tue, 28 Feb 2023 18:21:13 GMT
recorded_with: VCR 6.1.0
