http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"personalizations":[{"to":[{"email":"user100@example.com"}],"dynamic_template_data":{"lastWeekImpact":"0
        1 day of water"}}],"categories":["All Contacts"],"from":{"email":"ana@ribon.io","name":"Ana
        da Ribon"},"template_id":"d-176422cd49e24a1b81fdb16054125cb3"}'
    headers:
      Authorization:
      - Bearer sendgrid_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"The provided authorization grant is invalid,
        expired, or revoked","field":null,"help":null}]}'
  recorded_at: Mon, 27 Feb 2023 15:30:54 GMT
recorded_with: VCR 6.1.0
