name: Create main promotion pull request
on:
  push:
    branches:
      - staging
jobs:
  mainPromotion:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: Reset promotion branch
        run: |
          git fetch origin staging:staging
          git reset --hard staging
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: main-promotion
          title: Deploy